## Traffic Data

#### API Connection to LA Public traffic data
Utilize the following code to create a connection with the API. Please use listed App Token below for all API requests, and make sure to install both pandas and sodapy prior to running this script.

In [5]:
import pandas as pd
from sodapy import Socrata

In [24]:
app_token="r7HWPhxcEwvwEfMi5HoD125dB"
client = Socrata("data.lacity.org", app_token)

In [55]:
results = client.get("94wu-3ps3", limit=5953)
results_df = pd.DataFrame.from_records(results)
results_df.head()

,primary_street,dir,cross_street,type,dist,count_date,day,w_b,e_b,n_b,s_b,total
0,1 st ST,AT,MC CADDEN PL,AUT,TUE,2013-02-05T00:00:00.000,TUE,364,763,0,0,1127
1,1 st ST,AT,ALAMEDA ST,AUTO,CR,2014-01-16T00:00:00.000,THU,6433,11669,0,0,18102
2,1 st ST,AT,MAIN ST,MIO,CR,2013-03-27T00:00:00.000,WED,9221,9811,0,0,19032
3,1 st ST,AT,SPRING ST,MIO,CR,2013-03-19T00:00:00.000,TUE,9365,9884,0,0,19249
4,1 st ST,AT,MAIN ST,MAN,CR,2011-11-08T00:00:00.000,TUE,11400,12497,NaN,NaN,23897

## LAX Passenger Traffic By Terminal Data

In [56]:
results = client.get("g3qu-7q2u", limit=7064)
results_df = pd.DataFrame.from_records(results)
results_df.head()

,dataextractdate,reportperiod,terminal,arrival_departure,domestic_international,passenger_count
0,2018-04-18T15:12:41.000,2015-06-01T00:00:00.000,T3,Arrival,Domestic,294423
1,2018-04-18T15:12:41.000,2012-08-01T00:00:00.000,T8,Departure,International,5502
2,2018-04-18T15:12:41.000,2017-01-01T00:00:00.000,T1,Departure,International,11198
3,2018-04-18T15:12:41.000,2009-03-01T00:00:00.000,T4,Departure,Domestic,373300
4,2018-04-18T15:12:41.000,2015-11-01T00:00:00.000,T2,Arrival,International,148428

## GIS data on Streetlights in LA

#### API Connection to GIS Data

Utilize the following code to create a connection with the API. Please replace *'User-agent': 'cbarry@deloitte.com'* with *'User-agent': **'your-email-here**'*, and make sure you have all of the libraries used below installed.

In [26]:
import numpy as np
import pandas as pd
import json
import requests
from datetime import datetime

In [28]:
root = "https://dpw.gis.lacounty.gov"
endpoint = "/dpw/rest/services/PW_Open_Data/MapServer/5/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [29]:
r = requests.get(root + endpoint, headers={'User-agent': 'cbarry@deloitte.com'})
r

In [33]:
gis_df = pd.json_normalize(json.loads(r.text), record_path = ['features'])

In [50]:
gis_df.head()

,attributes.OBJECTID,attributes.ICON_ID,attributes.POLE_TYPE,attributes.LGT_TYPE,attributes.SCE_POL_I,attributes.MAINT_BY,attributes.PROGRESS_LED,attributes.CARRIER,attributes.LED_C_DATE,attributes.COVN_NUM,geometry.x,geometry.y
0,324467,1C,C,H,4124898E,SCE,NO,None,NaN,None,-118.757765,34.131863
1,324468,1W,W,H,2102132E,SCE,NO,None,NaN,None,-118.758083,34.131847
2,324469,1SUP,W,H,2037822E,SCE,NO,None,NaN,None,-118.757118,34.132389
3,324470,1SUP,W,H,4080947E,SCE,NO,T-Mobile,NaN,None,-118.756850,34.132748
4,324471,1SUP,W,H,4375839E,SCE,NO,None,NaN,None,-118.756700,34.133143

## Metro, Amtrak, and Metrolink API Access

#### Metro

In [35]:
root = "https://public.gis.lacounty.gov"
endpoint = "/public/rest/services/LACounty_Dynamic/LMS_Data_Public/MapServer/185/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [36]:
r = requests.get(root + endpoint, headers={'User-agent': 'cbarry@deloitte.com'})
r

In [49]:
metro_df = pd.json_normalize(json.loads(r.text), record_path = ['features'])
metro_df.head()

,attributes.OBJECTID,attributes.source,attributes.ext_id,attributes.cat1,attributes.cat2,attributes.cat3,attributes.org_name,attributes.Name,attributes.addrln1,attributes.addrln2,...,attributes.link,attributes.use_type,attributes.latitude,attributes.longitude,attributes.date_updated,attributes.dis_status,attributes.POINT_X,attributes.POINT_Y,geometry.x,geometry.y
0,56392,Metropolitan Transportation Authority (MTA),1054069001,Transportation,Metrolink Stations,None,LA County,Union Station,800 N. Alameda St.,None,...,http://egis3.lacounty.gov/lms/?p=58336,publish,34.056055,-118.236440,1370356051000,None,6.490053e+06,1.842864e+06,-118.236440,34.056055
1,61201,Metropolitan Transportation Authority (MTA),LAS,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),Riverside-La Sierra Metrolink Station,10901 Indiana Avenue,None,...,http://egis3.lacounty.gov/lms/?p=63077,publish,33.899531,-117.470791,1304448803000,None,6.722266e+06,1.786240e+06,-117.470791,33.899531
2,61202,Metropolitan Transportation Authority (MTA),WCR,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),West Corona Metrolink Station,155 S. Auto Center Dr.,None,...,http://egis3.lacounty.gov/lms/?p=63078,publish,33.885319,-117.613983,1304448803000,None,6.678833e+06,1.780870e+06,-117.613983,33.885319
3,61203,Metropolitan Transportation Authority (MTA),CYN,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),Anaheim Canyon Metrolink Station,1039 N. Pacificenter Drive,None,...,http://egis3.lacounty.gov/lms/?p=63079,publish,33.853467,-117.840154,1304448803000,None,6.610205e+06,1.769092e+06,-117.840154,33.853467
4,61204,Metropolitan Transportation Authority (MTA),NMC,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),North Main Corona Metrolink Station,None,None,...,http://egis3.lacounty.gov/lms/?p=63080,publish,33.882189,-117.563043,1304448803000,None,6.694299e+06,1.779795e+06,-117.563043,33.882189

#### Amtrak

In [51]:
root = "https://public.gis.lacounty.gov"
endpoint = "/public/rest/services/LACounty_Dynamic/LMS_Data_Public/MapServer/176/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [52]:
r = requests.get(root + endpoint, headers={'User-agent': 'cbarry@deloitte.com'})
r

In [54]:
amtrak_df = pd.json_normalize(json.loads(r.text), record_path = ['features'])
amtrak_df.head()

,attributes.OBJECTID,attributes.source,attributes.ext_id,attributes.cat1,attributes.cat2,attributes.cat3,attributes.org_name,attributes.Name,attributes.addrln1,attributes.addrln2,...,attributes.link,attributes.use_type,attributes.latitude,attributes.longitude,attributes.date_updated,attributes.dis_status,attributes.POINT_X,attributes.POINT_Y,geometry.x,geometry.y
0,4083,HSIP Freedom AmtrakStation,CWT,Transportation,Amtrak Stations,None,National Transportation Atlas Database (NTAD) ...,"Chatsworth, California",10040 Old Depot Plaza Road,None,...,http://egis3.lacounty.gov/lms/?p=4895,publish,34.257118,-118.598732,1288641056000,None,6.380752e+06,1.916489e+06,-118.598732,34.257118
1,4084,HSIP Freedom AmtrakStation,GDL,Transportation,Amtrak Stations,None,National Transportation Atlas Database (NTAD) ...,"Glendale, California",400 West Cerritos Avenue,Glendale Transportation Center,...,http://egis3.lacounty.gov/lms/?p=4896,publish,34.123638,-118.257957,1288641056000,None,6.483599e+06,1.867475e+06,-118.257957,34.123638
2,4085,HSIP Freedom AmtrakStation,LBC,Transportation,Amtrak Stations,None,National Transportation Atlas Database (NTAD) ...,"Long Beach, California",601 North Long Beach Blvd.,Denny'S Restaurant,...,http://egis3.lacounty.gov/lms/?p=4898,publish,33.774178,-118.188560,1288641056000,None,6.504363e+06,1.740252e+06,-118.188560,33.774178
3,4086,HSIP Freedom AmtrakStation,LBQ,Transportation,Amtrak Stations,None,National Transportation Atlas Database (NTAD) ...,"Long Beach (Queen Mary), California",1146 Queens Highway,Next To The Seasonal Catalina Ferry Terminal,...,http://egis3.lacounty.gov/lms/?p=4899,publish,33.750300,-118.189419,1288641056000,None,6.504086e+06,1.731563e+06,-118.189419,33.750300
4,4087,HSIP Freedom AmtrakStation,LCA,Transportation,Amtrak Stations,None,National Transportation Atlas Database (NTAD) ...,"La Crescenta, California",Honolulu & Lowell Avenue,Near I-210,...,http://egis3.lacounty.gov/lms/?p=4900,publish,34.230686,-118.265327,1288641056000,None,6.481471e+06,1.906437e+06,-118.265327,34.230686

#### Metrolink

In [45]:
root = "https://public.gis.lacounty.gov"
endpoint = "/public/rest/services/LACounty_Dynamic/LMS_Data_Public/MapServer/186/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [46]:
r = requests.get(root + endpoint, headers={'User-agent': 'cbarry@deloitte.com'})
r

In [48]:
amtrak_df = pd.json_normalize(json.loads(r.text), record_path = ['features'])
amtrak_df.head()

,attributes.OBJECTID,attributes.source,attributes.ext_id,attributes.cat1,attributes.cat2,attributes.cat3,attributes.org_name,attributes.Name,attributes.addrln1,attributes.addrln2,...,attributes.link,attributes.use_type,attributes.latitude,attributes.longitude,attributes.date_updated,attributes.dis_status,attributes.POINT_X,attributes.POINT_Y,geometry.x,geometry.y
0,56392,Metropolitan Transportation Authority (MTA),1054069001,Transportation,Metrolink Stations,None,LA County,Union Station,800 N. Alameda St.,None,...,http://egis3.lacounty.gov/lms/?p=58336,publish,34.056055,-118.236440,1370356051000,None,6.490053e+06,1.842864e+06,-118.236440,34.056055
1,61201,Metropolitan Transportation Authority (MTA),LAS,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),Riverside-La Sierra Metrolink Station,10901 Indiana Avenue,None,...,http://egis3.lacounty.gov/lms/?p=63077,publish,33.899531,-117.470791,1304448803000,None,6.722266e+06,1.786240e+06,-117.470791,33.899531
2,61202,Metropolitan Transportation Authority (MTA),WCR,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),West Corona Metrolink Station,155 S. Auto Center Dr.,None,...,http://egis3.lacounty.gov/lms/?p=63078,publish,33.885319,-117.613983,1304448803000,None,6.678833e+06,1.780870e+06,-117.613983,33.885319
3,61203,Metropolitan Transportation Authority (MTA),CYN,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),Anaheim Canyon Metrolink Station,1039 N. Pacificenter Drive,None,...,http://egis3.lacounty.gov/lms/?p=63079,publish,33.853467,-117.840154,1304448803000,None,6.610205e+06,1.769092e+06,-117.840154,33.853467
4,61204,Metropolitan Transportation Authority (MTA),NMC,Transportation,Metrolink Stations,None,Metropolitan Transit Authority (MTA),North Main Corona Metrolink Station,None,None,...,http://egis3.lacounty.gov/lms/?p=63080,publish,33.882189,-117.563043,1304448803000,None,6.694299e+06,1.779795e+06,-117.563043,33.882189